.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
  padding-inline: 3em;
  margin-top: 55px;
  max-height: 30px;
}

.header__right > * {
  margin: 0 10px;
}
