.app {
  display: flex;
  align-items: flex-start;
  height: 100vh;
  overflow-y: auto;
  background-color: #fafbfd;
}
.app__content {
  position: relative;
  margin-left: 350px;
  @apply px-10 pb-10 w-full;
}
